# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\Usuario\Documents\Familia\Clau\Diplomatura Superior en Testing de Software - UTN\Modulo 5 - Fundamentos del Testing Automatizado\Clase 2\Repositorio\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
